mixin dslider(data)
    if data === 'double'
        section.dSlider(class='dSlider--' + data)
            .dSlider__inner
                .dSlider__item
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .h2.dSlider__title Perfume Tips Tricks
                                .dSlider__content
                                    .dSlider__img
                                        img(src='%=static=%img/content/bg2.png')
                                    .dSlider__text Kittyfort   
                            .swiper-slide
                                .h2.dSlider__title Perfume Tips Tricks
                                .dSlider__content
                                    .dSlider__img
                                        img(src='%=static=%img/content/bg2.png')
                                    .dSlider__text Kittyfort                 
                    .navigation-wrap
                        .dSlider-sb.dSlider-sb--left
                        .dSlider-sb.dSlider-sb--right
                .dSlider__item
                    .swiper-container
                        .swiper-wrapper 
                            .swiper-slide
                                .h2.dSlider__title Breast Lifts
                                .dSlider__content
                                    .dSlider__heading Cartwrightborough
                                    .dSlider__text Summer is often synonymous with beaches, ballparks and barbecues, all offering tempting snacks and treats. To many women who are watching their weight, the back-to-school season is an ideal time to enroll in their own “Making Smarter Food Choices 101
                            .swiper-slide
                                .h2.dSlider__title Breast Lifts
                                .dSlider__content
                                    .dSlider__heading Cartwrightborough
                                    .dSlider__text Summer is often synonymous with beaches, ballparks and barbecues, all offering tempting snacks and treats. To many women who are watching their weight, the back-to-school season is an ideal time to enroll in their own “Making Smarter Food Choices 101
                    .navigation-wrap
                        .dSlider-sb.dSlider-sb--left
                        .dSlider-sb.dSlider-sb--right